@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises</title>
</head>
<body>
    <table>
        <tr>
            @for (int i = 0; i < ViewBag.listaPaises.Count; i++)
            {
                <td><a href='@Url.Action("DetallePais",new {pais = ViewBag.listaPaises[i].nombre})'>
                    <img src = '/img/@ViewBag.listaPaises[i].imgBandera' alt= "@ViewBag.listaPaises[i].nombre" width="150px" height="150px">
                </a></td>
            }
        </tr>
    </table>
</body>
</html>